USE [UniversitySportsDB]
GO
/****** Object:  Table [dbo].[Coach]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coach](
	[CoachID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[ContactNo] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Qualification] [nvarchar](100) NULL,
	[ExperienceYears] [int] NULL,
	[DepartmentID] [int] NOT NULL,
	[SportID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CoachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[DeanName] [nvarchar](100) NULL,
	[ContactEmail] [nvarchar](100) NULL,
	[EstablishedYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentRanking]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentRanking](
	[RankingID] [int] IDENTITY(1,1) NOT NULL,
	[RankPosition] [int] NOT NULL,
	[TotalPoints] [int] NULL,
	[TotalWins] [int] NULL,
	[TotalLosses] [int] NULL,
	[Season] [nvarchar](50) NULL,
	[DepartmentID] [int] NOT NULL,
	[SportID] [int] NOT NULL,
	[SemesterID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RankingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[EquipmentID] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentName] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[TotalQuantity] [int] NOT NULL,
	[AvailableQty] [int] NOT NULL,
	[Condition] [nvarchar](50) NULL,
	[PurchaseDate] [date] NULL,
	[SportID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentIssue]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentIssue](
	[IssueID] [int] IDENTITY(1,1) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[ReturnDate] [date] NULL,
	[IsReturned] [bit] NULL,
	[FineAmount] [decimal](8, 2) NULL,
	[Remarks] [nvarchar](255) NULL,
	[EquipmentID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expense]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expense](
	[ExpenseID] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseTitle] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[ExpenseDate] [date] NOT NULL,
	[PaidBy] [nvarchar](100) NULL,
	[TournamentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InjuryRecord]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InjuryRecord](
	[InjuryID] [int] IDENTITY(1,1) NOT NULL,
	[InjuryDate] [date] NOT NULL,
	[InjuryType] [nvarchar](100) NULL,
	[Severity] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
	[RecoveryDays] [int] NULL,
	[IsRecovered] [bit] NULL,
	[StudentID] [int] NOT NULL,
	[MatchID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InjuryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[MatchDate] [date] NOT NULL,
	[MatchTime] [time](7) NULL,
	[Round] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[HomeTeamID] [int] NOT NULL,
	[AwayTeamID] [int] NOT NULL,
	[HomeTeamScore] [int] NULL,
	[AwayTeamScore] [int] NULL,
	[WinnerTeamID] [int] NULL,
	[TournamentID] [int] NOT NULL,
	[VenueID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchPerformance]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchPerformance](
	[PerformanceID] [int] IDENTITY(1,1) NOT NULL,
	[MatchID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
	[GoalsScored] [int] NULL,
	[Assists] [int] NULL,
	[YellowCards] [int] NULL,
	[RedCards] [int] NULL,
	[MinutesPlayed] [int] NULL,
	[PerformanceNote] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PerformanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerRating]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerRating](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [decimal](3, 1) NULL,
	[Review] [nvarchar](255) NULL,
	[RatingDate] [date] NOT NULL,
	[StudentID] [int] NOT NULL,
	[CoachID] [int] NOT NULL,
	[SportID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointsTable]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointsTable](
	[PointsTableID] [int] IDENTITY(1,1) NOT NULL,
	[TournamentID] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
	[MatchesPlayed] [int] NULL,
	[Wins] [int] NULL,
	[Losses] [int] NULL,
	[Draws] [int] NULL,
	[GoalsFor] [int] NULL,
	[GoalsAgainst] [int] NULL,
	[Points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PointsTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeAttendance]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeAttendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Remarks] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticeSession]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeSession](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[SessionDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[TeamID] [int] NOT NULL,
	[CoachID] [int] NOT NULL,
	[VenueID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminder]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminder](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Message] [nvarchar](500) NULL,
	[ReminderDate] [datetime] NOT NULL,
	[IsRead] [bit] NULL,
	[ReminderType] [nvarchar](50) NULL,
	[StudentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[SemesterID] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[AcademicYear] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SemesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sport]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sport](
	[SportID] [int] IDENTITY(1,1) NOT NULL,
	[SportName] [nvarchar](100) NOT NULL,
	[SportType] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNo] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[ContactNo] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[EnrollmentYear] [int] NULL,
	[DepartmentID] [int] NOT NULL,
	[SemesterID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[FormationYear] [int] NULL,
	[DepartmentID] [int] NOT NULL,
	[SportID] [int] NOT NULL,
	[CoachID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamPlayer]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamPlayer](
	[TeamPlayerID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[JoinDate] [date] NULL,
	[Position] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamPlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournament]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournament](
	[TournamentID] [int] IDENTITY(1,1) NOT NULL,
	[TournamentName] [nvarchar](150) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[OrganizerName] [nvarchar](100) NULL,
	[SportID] [int] NOT NULL,
	[SemesterID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TournamentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentTeam]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentTeam](
	[TournamentTeamID] [int] IDENTITY(1,1) NOT NULL,
	[TournamentID] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
	[RegistrationDate] [date] NULL,
	[GroupName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TournamentTeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venue]    Script Date: 5/13/2026 10:04:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venue](
	[VenueID] [int] IDENTITY(1,1) NOT NULL,
	[VenueName] [nvarchar](100) NOT NULL,
	[Location] [nvarchar](200) NULL,
	[Capacity] [int] NULL,
	[VenueType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VenueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Coach] ON 

INSERT [dbo].[Coach] ([CoachID], [FullName], [Gender], [ContactNo], [Email], [Qualification], [ExperienceYears], [DepartmentID], [SportID]) VALUES (1, N'Coach Tariq Mehmood', N'Male', N'0310-1111111', N'tariq.coach@uni.edu', N'MSc Sports Science', 10, 1, 1)
INSERT [dbo].[Coach] ([CoachID], [FullName], [Gender], [ContactNo], [Email], [Qualification], [ExperienceYears], [DepartmentID], [SportID]) VALUES (2, N'Coach Naila Hussain', N'Female', N'0310-2222222', N'naila.coach@uni.edu', N'BSc Physical Education', 7, 2, 2)
INSERT [dbo].[Coach] ([CoachID], [FullName], [Gender], [ContactNo], [Email], [Qualification], [ExperienceYears], [DepartmentID], [SportID]) VALUES (3, N'Coach Hamid Iqbal', N'Male', N'0310-3333333', N'hamid.coach@uni.edu', N'BSc Sports Management', 5, 3, 3)
SET IDENTITY_INSERT [dbo].[Coach] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DeanName], [ContactEmail], [EstablishedYear]) VALUES (1, N'Computer Science', N'Dr. Ahmed Khan', N'cs@university.edu', 1995)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DeanName], [ContactEmail], [EstablishedYear]) VALUES (2, N'Electrical Engineering', N'Dr. Sara Ali', N'ee@university.edu', 1990)
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DeanName], [ContactEmail], [EstablishedYear]) VALUES (3, N'Business Administration', N'Dr. Usman Malik', N'ba@university.edu', 2000)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[DepartmentRanking] ON 

INSERT [dbo].[DepartmentRanking] ([RankingID], [RankPosition], [TotalPoints], [TotalWins], [TotalLosses], [Season], [DepartmentID], [SportID], [SemesterID]) VALUES (1, 1, 6, 2, 0, N'Fall 2023', 1, 1, 1)
INSERT [dbo].[DepartmentRanking] ([RankingID], [RankPosition], [TotalPoints], [TotalWins], [TotalLosses], [Season], [DepartmentID], [SportID], [SemesterID]) VALUES (2, 2, 0, 0, 2, N'Fall 2023', 2, 1, 1)
INSERT [dbo].[DepartmentRanking] ([RankingID], [RankPosition], [TotalPoints], [TotalWins], [TotalLosses], [Season], [DepartmentID], [SportID], [SemesterID]) VALUES (3, 1, 6, 2, 0, N'Fall 2023', 2, 2, 1)
SET IDENTITY_INSERT [dbo].[DepartmentRanking] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([EquipmentID], [EquipmentName], [Category], [TotalQuantity], [AvailableQty], [Condition], [PurchaseDate], [SportID]) VALUES (1, N'Cricket Bat', N'Batting', 10, 8, N'Good', CAST(N'2023-01-15' AS Date), 1)
INSERT [dbo].[Equipment] ([EquipmentID], [EquipmentName], [Category], [TotalQuantity], [AvailableQty], [Condition], [PurchaseDate], [SportID]) VALUES (2, N'Cricket Ball', N'Bowling', 20, 18, N'New', CAST(N'2023-01-15' AS Date), 1)
INSERT [dbo].[Equipment] ([EquipmentID], [EquipmentName], [Category], [TotalQuantity], [AvailableQty], [Condition], [PurchaseDate], [SportID]) VALUES (3, N'Cricket Helmet', N'Safety', 8, 7, N'Good', CAST(N'2023-02-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentIssue] ON 

INSERT [dbo].[EquipmentIssue] ([IssueID], [IssueDate], [ReturnDate], [IsReturned], [FineAmount], [Remarks], [EquipmentID], [StudentID]) VALUES (1, CAST(N'2023-10-01' AS Date), CAST(N'2023-10-25' AS Date), 1, CAST(0.00 AS Decimal(8, 2)), N'Returned in good condition', 1, 1)
INSERT [dbo].[EquipmentIssue] ([IssueID], [IssueDate], [ReturnDate], [IsReturned], [FineAmount], [Remarks], [EquipmentID], [StudentID]) VALUES (2, CAST(N'2023-10-01' AS Date), CAST(N'2023-10-25' AS Date), 1, CAST(0.00 AS Decimal(8, 2)), N'Returned in good condition', 2, 2)
INSERT [dbo].[EquipmentIssue] ([IssueID], [IssueDate], [ReturnDate], [IsReturned], [FineAmount], [Remarks], [EquipmentID], [StudentID]) VALUES (3, CAST(N'2023-10-05' AS Date), NULL, 0, CAST(150.00 AS Decimal(8, 2)), N'Not yet returned', 4, 3)
SET IDENTITY_INSERT [dbo].[EquipmentIssue] OFF
GO
SET IDENTITY_INSERT [dbo].[Expense] ON 

INSERT [dbo].[Expense] ([ExpenseID], [ExpenseTitle], [Category], [Amount], [ExpenseDate], [PaidBy], [TournamentID]) VALUES (1, N'Ground Booking Fee', N'Venue', CAST(5000.00 AS Decimal(10, 2)), CAST(N'2023-09-25' AS Date), N'Sports Dept', 1)
INSERT [dbo].[Expense] ([ExpenseID], [ExpenseTitle], [Category], [Amount], [ExpenseDate], [PaidBy], [TournamentID]) VALUES (2, N'Prize Money Cricket', N'Prize', CAST(15000.00 AS Decimal(10, 2)), CAST(N'2023-10-31' AS Date), N'Sports Dept', 1)
INSERT [dbo].[Expense] ([ExpenseID], [ExpenseTitle], [Category], [Amount], [ExpenseDate], [PaidBy], [TournamentID]) VALUES (3, N'Player Transport', N'Transport', CAST(8000.00 AS Decimal(10, 2)), CAST(N'2023-10-20' AS Date), N'Sports Dept', 1)
SET IDENTITY_INSERT [dbo].[Expense] OFF
GO
SET IDENTITY_INSERT [dbo].[InjuryRecord] ON 

INSERT [dbo].[InjuryRecord] ([InjuryID], [InjuryDate], [InjuryType], [Severity], [Description], [RecoveryDays], [IsRecovered], [StudentID], [MatchID]) VALUES (6, CAST(N'2023-10-20' AS Date), N'Sprain', N'Minor', N'Ankle sprain during semi final', 7, 1, 1, 6)
INSERT [dbo].[InjuryRecord] ([InjuryID], [InjuryDate], [InjuryType], [Severity], [Description], [RecoveryDays], [IsRecovered], [StudentID], [MatchID]) VALUES (7, CAST(N'2023-11-30' AS Date), N'Bruise', N'Minor', N'Knee bruise during final match', 3, 1, 3, 9)
INSERT [dbo].[InjuryRecord] ([InjuryID], [InjuryDate], [InjuryType], [Severity], [Description], [RecoveryDays], [IsRecovered], [StudentID], [MatchID]) VALUES (8, CAST(N'2024-10-25' AS Date), N'Fracture', N'Moderate', N'Finger fracture while batting', 21, 0, 9, 10)
SET IDENTITY_INSERT [dbo].[InjuryRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[Match] ON 

INSERT [dbo].[Match] ([MatchID], [MatchDate], [MatchTime], [Round], [Status], [HomeTeamID], [AwayTeamID], [HomeTeamScore], [AwayTeamScore], [WinnerTeamID], [TournamentID], [VenueID]) VALUES (6, CAST(N'2023-10-20' AS Date), CAST(N'09:00:00' AS Time), N'Semi Final', N'Completed', 1, 7, 6, 3, 1, 1, 1)
INSERT [dbo].[Match] ([MatchID], [MatchDate], [MatchTime], [Round], [Status], [HomeTeamID], [AwayTeamID], [HomeTeamScore], [AwayTeamScore], [WinnerTeamID], [TournamentID], [VenueID]) VALUES (7, CAST(N'2023-10-31' AS Date), CAST(N'10:00:00' AS Time), N'Final', N'Completed', 1, 7, 8, 4, 1, 1, 1)
INSERT [dbo].[Match] ([MatchID], [MatchDate], [MatchTime], [Round], [Status], [HomeTeamID], [AwayTeamID], [HomeTeamScore], [AwayTeamScore], [WinnerTeamID], [TournamentID], [VenueID]) VALUES (8, CAST(N'2023-11-15' AS Date), CAST(N'14:00:00' AS Time), N'Semi Final', N'Completed', 2, 6, 2, 1, 2, 2, 2)
SET IDENTITY_INSERT [dbo].[Match] OFF
GO
SET IDENTITY_INSERT [dbo].[MatchPerformance] ON 

INSERT [dbo].[MatchPerformance] ([PerformanceID], [MatchID], [StudentID], [TeamID], [GoalsScored], [Assists], [YellowCards], [RedCards], [MinutesPlayed], [PerformanceNote]) VALUES (2, 6, 1, 1, 3, 2, 0, 0, 90, N'Outstanding batting performance')
INSERT [dbo].[MatchPerformance] ([PerformanceID], [MatchID], [StudentID], [TeamID], [GoalsScored], [Assists], [YellowCards], [RedCards], [MinutesPlayed], [PerformanceNote]) VALUES (3, 6, 2, 1, 1, 1, 0, 0, 85, N'Solid all round contribution')
INSERT [dbo].[MatchPerformance] ([PerformanceID], [MatchID], [StudentID], [TeamID], [GoalsScored], [Assists], [YellowCards], [RedCards], [MinutesPlayed], [PerformanceNote]) VALUES (4, 7, 1, 1, 4, 1, 0, 0, 90, N'Player of the match')
SET IDENTITY_INSERT [dbo].[MatchPerformance] OFF
GO
SET IDENTITY_INSERT [dbo].[PlayerRating] ON 

INSERT [dbo].[PlayerRating] ([RatingID], [Rating], [Review], [RatingDate], [StudentID], [CoachID], [SportID]) VALUES (1, CAST(9.0 AS Decimal(3, 1)), N'Exceptional batsman, natural leader', CAST(N'2023-11-05' AS Date), 1, 1, 1)
INSERT [dbo].[PlayerRating] ([RatingID], [Rating], [Review], [RatingDate], [StudentID], [CoachID], [SportID]) VALUES (2, CAST(7.5 AS Decimal(3, 1)), N'Consistent player, good team coordination', CAST(N'2023-11-05' AS Date), 2, 1, 1)
INSERT [dbo].[PlayerRating] ([RatingID], [Rating], [Review], [RatingDate], [StudentID], [CoachID], [SportID]) VALUES (3, CAST(8.0 AS Decimal(3, 1)), N'Strong midfielder, excellent stamina', CAST(N'2023-12-01' AS Date), 3, 2, 2)
SET IDENTITY_INSERT [dbo].[PlayerRating] OFF
GO
SET IDENTITY_INSERT [dbo].[PointsTable] ON 

INSERT [dbo].[PointsTable] ([PointsTableID], [TournamentID], [TeamID], [MatchesPlayed], [Wins], [Losses], [Draws], [GoalsFor], [GoalsAgainst], [Points]) VALUES (1, 1, 1, 2, 2, 0, 0, 14, 7, 6)
INSERT [dbo].[PointsTable] ([PointsTableID], [TournamentID], [TeamID], [MatchesPlayed], [Wins], [Losses], [Draws], [GoalsFor], [GoalsAgainst], [Points]) VALUES (2, 1, 7, 2, 0, 2, 0, 7, 14, 0)
INSERT [dbo].[PointsTable] ([PointsTableID], [TournamentID], [TeamID], [MatchesPlayed], [Wins], [Losses], [Draws], [GoalsFor], [GoalsAgainst], [Points]) VALUES (3, 2, 2, 2, 2, 0, 0, 5, 1, 6)
SET IDENTITY_INSERT [dbo].[PointsTable] OFF
GO
SET IDENTITY_INSERT [dbo].[PracticeAttendance] ON 

INSERT [dbo].[PracticeAttendance] ([AttendanceID], [SessionID], [StudentID], [Status], [Remarks]) VALUES (1, 1, 1, N'Present', N'Good batting session')
INSERT [dbo].[PracticeAttendance] ([AttendanceID], [SessionID], [StudentID], [Status], [Remarks]) VALUES (2, 1, 2, N'Present', N'Worked well on footwork')
INSERT [dbo].[PracticeAttendance] ([AttendanceID], [SessionID], [StudentID], [Status], [Remarks]) VALUES (3, 1, 9, N'Late', N'Arrived 15 mins late')
SET IDENTITY_INSERT [dbo].[PracticeAttendance] OFF
GO
SET IDENTITY_INSERT [dbo].[PracticeSession] ON 

INSERT [dbo].[PracticeSession] ([SessionID], [SessionDate], [StartTime], [EndTime], [Notes], [TeamID], [CoachID], [VenueID]) VALUES (1, CAST(N'2023-09-10' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), N'Pre-tournament batting practice', 1, 1, 1)
INSERT [dbo].[PracticeSession] ([SessionID], [SessionDate], [StartTime], [EndTime], [Notes], [TeamID], [CoachID], [VenueID]) VALUES (2, CAST(N'2023-09-12' AS Date), CAST(N'14:00:00' AS Time), CAST(N'16:00:00' AS Time), N'Fielding and bowling drills', 1, 1, 1)
INSERT [dbo].[PracticeSession] ([SessionID], [SessionDate], [StartTime], [EndTime], [Notes], [TeamID], [CoachID], [VenueID]) VALUES (3, CAST(N'2023-10-05' AS Date), CAST(N'07:00:00' AS Time), CAST(N'09:00:00' AS Time), N'Warm up and passing drills', 2, 2, 2)
SET IDENTITY_INSERT [dbo].[PracticeSession] OFF
GO
SET IDENTITY_INSERT [dbo].[Reminder] ON 

INSERT [dbo].[Reminder] ([ReminderID], [Title], [Message], [ReminderDate], [IsRead], [ReminderType], [StudentID]) VALUES (1, N'Semi Final Tomorrow', N'Cricket semi final at 9AM on Main Ground', CAST(N'2023-10-19T08:00:00.000' AS DateTime), 1, N'Match', 1)
INSERT [dbo].[Reminder] ([ReminderID], [Title], [Message], [ReminderDate], [IsRead], [ReminderType], [StudentID]) VALUES (2, N'Practice Session', N'Batting practice at Main Ground 8AM', CAST(N'2023-09-09T20:00:00.000' AS DateTime), 1, N'Practice', 1)
INSERT [dbo].[Reminder] ([ReminderID], [Title], [Message], [ReminderDate], [IsRead], [ReminderType], [StudentID]) VALUES (3, N'Final Match Alert', N'Cricket final tomorrow at 10AM', CAST(N'2023-10-30T09:00:00.000' AS DateTime), 1, N'Match', 1)
SET IDENTITY_INSERT [dbo].[Reminder] OFF
GO
SET IDENTITY_INSERT [dbo].[Semester] ON 

INSERT [dbo].[Semester] ([SemesterID], [SemesterName], [StartDate], [EndDate], [AcademicYear]) VALUES (1, N'Fall 2023', CAST(N'2023-09-01' AS Date), CAST(N'2024-01-31' AS Date), N'2023-2024')
INSERT [dbo].[Semester] ([SemesterID], [SemesterName], [StartDate], [EndDate], [AcademicYear]) VALUES (2, N'Spring 2024', CAST(N'2024-02-01' AS Date), CAST(N'2024-06-30' AS Date), N'2023-2024')
INSERT [dbo].[Semester] ([SemesterID], [SemesterName], [StartDate], [EndDate], [AcademicYear]) VALUES (3, N'Fall 2024', CAST(N'2024-09-01' AS Date), CAST(N'2025-01-31' AS Date), N'2024-2025')
SET IDENTITY_INSERT [dbo].[Semester] OFF
GO
SET IDENTITY_INSERT [dbo].[Sport] ON 

INSERT [dbo].[Sport] ([SportID], [SportName], [SportType], [Description]) VALUES (1, N'Cricket', N'Team', N'Outdoor bat and ball sport')
INSERT [dbo].[Sport] ([SportID], [SportName], [SportType], [Description]) VALUES (2, N'Football', N'Team', N'Outdoor football sport')
INSERT [dbo].[Sport] ([SportID], [SportName], [SportType], [Description]) VALUES (3, N'Badminton', N'Individual', N'Indoor racket sport')
SET IDENTITY_INSERT [dbo].[Sport] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [RegistrationNo], [FullName], [Gender], [DateOfBirth], [ContactNo], [Email], [Address], [EnrollmentYear], [DepartmentID], [SemesterID]) VALUES (1, N'CS-2021-001', N'Ali Raza', N'Male', CAST(N'2001-03-15' AS Date), N'0300-1111111', N'ali.raza@uni.edu', N'Lahore', 2021, 1, 3)
INSERT [dbo].[Student] ([StudentID], [RegistrationNo], [FullName], [Gender], [DateOfBirth], [ContactNo], [Email], [Address], [EnrollmentYear], [DepartmentID], [SemesterID]) VALUES (2, N'CS-2021-002', N'Sara Khan', N'Female', CAST(N'2001-07-22' AS Date), N'0300-2222222', N'sara.khan@uni.edu', N'Lahore', 2021, 1, 3)
INSERT [dbo].[Student] ([StudentID], [RegistrationNo], [FullName], [Gender], [DateOfBirth], [ContactNo], [Email], [Address], [EnrollmentYear], [DepartmentID], [SemesterID]) VALUES (3, N'EE-2021-001', N'Bilal Ahmed', N'Male', CAST(N'2000-11-10' AS Date), N'0300-3333333', N'bilal.ahmed@uni.edu', N'Karachi', 2021, 2, 3)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([TeamID], [TeamName], [Gender], [FormationYear], [DepartmentID], [SportID], [CoachID]) VALUES (1, N'CS Cricket XI', N'Male', 2021, 1, 1, 1)
INSERT [dbo].[Team] ([TeamID], [TeamName], [Gender], [FormationYear], [DepartmentID], [SportID], [CoachID]) VALUES (2, N'EE Football XI', N'Male', 2021, 2, 2, 2)
INSERT [dbo].[Team] ([TeamID], [TeamName], [Gender], [FormationYear], [DepartmentID], [SportID], [CoachID]) VALUES (3, N'BA Badminton Team', N'Mixed', 2022, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Team] OFF
GO
SET IDENTITY_INSERT [dbo].[TeamPlayer] ON 

INSERT [dbo].[TeamPlayer] ([TeamPlayerID], [TeamID], [StudentID], [JoinDate], [Position], [IsActive]) VALUES (1, 1, 1, CAST(N'2021-10-01' AS Date), N'Captain', 1)
INSERT [dbo].[TeamPlayer] ([TeamPlayerID], [TeamID], [StudentID], [JoinDate], [Position], [IsActive]) VALUES (2, 1, 2, CAST(N'2021-10-01' AS Date), N'Player', 1)
INSERT [dbo].[TeamPlayer] ([TeamPlayerID], [TeamID], [StudentID], [JoinDate], [Position], [IsActive]) VALUES (3, 1, 9, CAST(N'2022-09-01' AS Date), N'Player', 1)
SET IDENTITY_INSERT [dbo].[TeamPlayer] OFF
GO
SET IDENTITY_INSERT [dbo].[Tournament] ON 

INSERT [dbo].[Tournament] ([TournamentID], [TournamentName], [StartDate], [EndDate], [Status], [OrganizerName], [SportID], [SemesterID]) VALUES (1, N'Inter-Dept Cricket Cup 2023', CAST(N'2023-10-01' AS Date), CAST(N'2023-10-31' AS Date), N'Completed', N'Sports Committee', 1, 1)
INSERT [dbo].[Tournament] ([TournamentID], [TournamentName], [StartDate], [EndDate], [Status], [OrganizerName], [SportID], [SemesterID]) VALUES (2, N'Football Championship 2023', CAST(N'2023-11-01' AS Date), CAST(N'2023-11-30' AS Date), N'Completed', N'Sports Committee', 2, 1)
INSERT [dbo].[Tournament] ([TournamentID], [TournamentName], [StartDate], [EndDate], [Status], [OrganizerName], [SportID], [SemesterID]) VALUES (3, N'Badminton Open 2024', CAST(N'2024-03-01' AS Date), CAST(N'2024-03-20' AS Date), N'Completed', N'Sports Committee', 3, 2)
SET IDENTITY_INSERT [dbo].[Tournament] OFF
GO
SET IDENTITY_INSERT [dbo].[TournamentTeam] ON 

INSERT [dbo].[TournamentTeam] ([TournamentTeamID], [TournamentID], [TeamID], [RegistrationDate], [GroupName]) VALUES (1, 1, 1, CAST(N'2023-09-20' AS Date), N'Group A')
INSERT [dbo].[TournamentTeam] ([TournamentTeamID], [TournamentID], [TeamID], [RegistrationDate], [GroupName]) VALUES (2, 1, 7, CAST(N'2023-09-20' AS Date), N'Group B')
INSERT [dbo].[TournamentTeam] ([TournamentTeamID], [TournamentID], [TeamID], [RegistrationDate], [GroupName]) VALUES (3, 2, 2, CAST(N'2023-10-25' AS Date), N'Group A')
SET IDENTITY_INSERT [dbo].[TournamentTeam] OFF
GO
SET IDENTITY_INSERT [dbo].[Venue] ON 

INSERT [dbo].[Venue] ([VenueID], [VenueName], [Location], [Capacity], [VenueType]) VALUES (1, N'Main Cricket Ground', N'Block A', 500, N'Outdoor')
INSERT [dbo].[Venue] ([VenueID], [VenueName], [Location], [Capacity], [VenueType]) VALUES (2, N'Football Ground', N'Block B', 400, N'Outdoor')
INSERT [dbo].[Venue] ([VenueID], [VenueName], [Location], [Capacity], [VenueType]) VALUES (3, N'Indoor Sports Complex', N'Block C', 200, N'Indoor')
SET IDENTITY_INSERT [dbo].[Venue] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Coach__A9D1053407CFA18A]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[Coach] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__D949CC349875D685]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[Department] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ranking]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[DepartmentRanking] ADD  CONSTRAINT [UQ_Ranking] UNIQUE NONCLUSTERED 
(
	[DepartmentID] ASC,
	[SportID] ASC,
	[SemesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Performance]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[MatchPerformance] ADD  CONSTRAINT [UQ_Performance] UNIQUE NONCLUSTERED 
(
	[MatchID] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PointsTable]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[PointsTable] ADD  CONSTRAINT [UQ_PointsTable] UNIQUE NONCLUSTERED 
(
	[TournamentID] ASC,
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Attendance]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[PracticeAttendance] ADD  CONSTRAINT [UQ_Attendance] UNIQUE NONCLUSTERED 
(
	[SessionID] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Sport__14A9DBB007BCD49A]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[Sport] ADD UNIQUE NONCLUSTERED 
(
	[SportName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__6EF5E042E8C4DF11]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[RegistrationNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__A9D10534B6808EC6]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TeamPlayer]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[TeamPlayer] ADD  CONSTRAINT [UQ_TeamPlayer] UNIQUE NONCLUSTERED 
(
	[TeamID] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TournamentTeam]    Script Date: 5/13/2026 10:04:23 PM ******/
ALTER TABLE [dbo].[TournamentTeam] ADD  CONSTRAINT [UQ_TournamentTeam] UNIQUE NONCLUSTERED 
(
	[TournamentID] ASC,
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DepartmentRanking] ADD  DEFAULT ((0)) FOR [TotalPoints]
GO
ALTER TABLE [dbo].[DepartmentRanking] ADD  DEFAULT ((0)) FOR [TotalWins]
GO
ALTER TABLE [dbo].[DepartmentRanking] ADD  DEFAULT ((0)) FOR [TotalLosses]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT ((0)) FOR [TotalQuantity]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT ((0)) FOR [AvailableQty]
GO
ALTER TABLE [dbo].[EquipmentIssue] ADD  DEFAULT ((0)) FOR [IsReturned]
GO
ALTER TABLE [dbo].[EquipmentIssue] ADD  DEFAULT ((0)) FOR [FineAmount]
GO
ALTER TABLE [dbo].[InjuryRecord] ADD  DEFAULT ((0)) FOR [IsRecovered]
GO
ALTER TABLE [dbo].[Match] ADD  DEFAULT ((0)) FOR [HomeTeamScore]
GO
ALTER TABLE [dbo].[Match] ADD  DEFAULT ((0)) FOR [AwayTeamScore]
GO
ALTER TABLE [dbo].[MatchPerformance] ADD  DEFAULT ((0)) FOR [GoalsScored]
GO
ALTER TABLE [dbo].[MatchPerformance] ADD  DEFAULT ((0)) FOR [Assists]
GO
ALTER TABLE [dbo].[MatchPerformance] ADD  DEFAULT ((0)) FOR [YellowCards]
GO
ALTER TABLE [dbo].[MatchPerformance] ADD  DEFAULT ((0)) FOR [RedCards]
GO
ALTER TABLE [dbo].[MatchPerformance] ADD  DEFAULT ((0)) FOR [MinutesPlayed]
GO
ALTER TABLE [dbo].[PointsTable] ADD  DEFAULT ((0)) FOR [MatchesPlayed]
GO
ALTER TABLE [dbo].[PointsTable] ADD  DEFAULT ((0)) FOR [Wins]
GO
ALTER TABLE [dbo].[PointsTable] ADD  DEFAULT ((0)) FOR [Losses]
GO
ALTER TABLE [dbo].[PointsTable] ADD  DEFAULT ((0)) FOR [Draws]
GO
ALTER TABLE [dbo].[PointsTable] ADD  DEFAULT ((0)) FOR [GoalsFor]
GO
ALTER TABLE [dbo].[PointsTable] ADD  DEFAULT ((0)) FOR [GoalsAgainst]
GO
ALTER TABLE [dbo].[PointsTable] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[Reminder] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[TeamPlayer] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coach]  WITH CHECK ADD  CONSTRAINT [FK_Coach_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Coach] CHECK CONSTRAINT [FK_Coach_Department]
GO
ALTER TABLE [dbo].[Coach]  WITH CHECK ADD  CONSTRAINT [FK_Coach_Sport] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sport] ([SportID])
GO
ALTER TABLE [dbo].[Coach] CHECK CONSTRAINT [FK_Coach_Sport]
GO
ALTER TABLE [dbo].[DepartmentRanking]  WITH CHECK ADD  CONSTRAINT [FK_Ranking_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[DepartmentRanking] CHECK CONSTRAINT [FK_Ranking_Department]
GO
ALTER TABLE [dbo].[DepartmentRanking]  WITH CHECK ADD  CONSTRAINT [FK_Ranking_Semester] FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semester] ([SemesterID])
GO
ALTER TABLE [dbo].[DepartmentRanking] CHECK CONSTRAINT [FK_Ranking_Semester]
GO
ALTER TABLE [dbo].[DepartmentRanking]  WITH CHECK ADD  CONSTRAINT [FK_Ranking_Sport] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sport] ([SportID])
GO
ALTER TABLE [dbo].[DepartmentRanking] CHECK CONSTRAINT [FK_Ranking_Sport]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Sport] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sport] ([SportID])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Sport]
GO
ALTER TABLE [dbo].[EquipmentIssue]  WITH CHECK ADD  CONSTRAINT [FK_Issue_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[EquipmentIssue] CHECK CONSTRAINT [FK_Issue_Equipment]
GO
ALTER TABLE [dbo].[EquipmentIssue]  WITH CHECK ADD  CONSTRAINT [FK_Issue_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[EquipmentIssue] CHECK CONSTRAINT [FK_Issue_Student]
GO
ALTER TABLE [dbo].[Expense]  WITH CHECK ADD  CONSTRAINT [FK_Expense_Tournament] FOREIGN KEY([TournamentID])
REFERENCES [dbo].[Tournament] ([TournamentID])
GO
ALTER TABLE [dbo].[Expense] CHECK CONSTRAINT [FK_Expense_Tournament]
GO
ALTER TABLE [dbo].[InjuryRecord]  WITH CHECK ADD  CONSTRAINT [FK_Injury_Match] FOREIGN KEY([MatchID])
REFERENCES [dbo].[Match] ([MatchID])
GO
ALTER TABLE [dbo].[InjuryRecord] CHECK CONSTRAINT [FK_Injury_Match]
GO
ALTER TABLE [dbo].[InjuryRecord]  WITH CHECK ADD  CONSTRAINT [FK_Injury_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[InjuryRecord] CHECK CONSTRAINT [FK_Injury_Student]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_AwayTeam] FOREIGN KEY([AwayTeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_AwayTeam]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_HomeTeam] FOREIGN KEY([HomeTeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_HomeTeam]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_Tournament] FOREIGN KEY([TournamentID])
REFERENCES [dbo].[Tournament] ([TournamentID])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_Tournament]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_Venue] FOREIGN KEY([VenueID])
REFERENCES [dbo].[Venue] ([VenueID])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_Venue]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_Winner] FOREIGN KEY([WinnerTeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_Winner]
GO
ALTER TABLE [dbo].[MatchPerformance]  WITH CHECK ADD  CONSTRAINT [FK_Perf_Match] FOREIGN KEY([MatchID])
REFERENCES [dbo].[Match] ([MatchID])
GO
ALTER TABLE [dbo].[MatchPerformance] CHECK CONSTRAINT [FK_Perf_Match]
GO
ALTER TABLE [dbo].[MatchPerformance]  WITH CHECK ADD  CONSTRAINT [FK_Perf_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[MatchPerformance] CHECK CONSTRAINT [FK_Perf_Student]
GO
ALTER TABLE [dbo].[MatchPerformance]  WITH CHECK ADD  CONSTRAINT [FK_Perf_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[MatchPerformance] CHECK CONSTRAINT [FK_Perf_Team]
GO
ALTER TABLE [dbo].[PlayerRating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Coach] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coach] ([CoachID])
GO
ALTER TABLE [dbo].[PlayerRating] CHECK CONSTRAINT [FK_Rating_Coach]
GO
ALTER TABLE [dbo].[PlayerRating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Sport] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sport] ([SportID])
GO
ALTER TABLE [dbo].[PlayerRating] CHECK CONSTRAINT [FK_Rating_Sport]
GO
ALTER TABLE [dbo].[PlayerRating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[PlayerRating] CHECK CONSTRAINT [FK_Rating_Student]
GO
ALTER TABLE [dbo].[PointsTable]  WITH CHECK ADD  CONSTRAINT [FK_Points_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[PointsTable] CHECK CONSTRAINT [FK_Points_Team]
GO
ALTER TABLE [dbo].[PointsTable]  WITH CHECK ADD  CONSTRAINT [FK_Points_Tournament] FOREIGN KEY([TournamentID])
REFERENCES [dbo].[Tournament] ([TournamentID])
GO
ALTER TABLE [dbo].[PointsTable] CHECK CONSTRAINT [FK_Points_Tournament]
GO
ALTER TABLE [dbo].[PracticeAttendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[PracticeSession] ([SessionID])
GO
ALTER TABLE [dbo].[PracticeAttendance] CHECK CONSTRAINT [FK_Attendance_Session]
GO
ALTER TABLE [dbo].[PracticeAttendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[PracticeAttendance] CHECK CONSTRAINT [FK_Attendance_Student]
GO
ALTER TABLE [dbo].[PracticeSession]  WITH CHECK ADD  CONSTRAINT [FK_Session_Coach] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coach] ([CoachID])
GO
ALTER TABLE [dbo].[PracticeSession] CHECK CONSTRAINT [FK_Session_Coach]
GO
ALTER TABLE [dbo].[PracticeSession]  WITH CHECK ADD  CONSTRAINT [FK_Session_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[PracticeSession] CHECK CONSTRAINT [FK_Session_Team]
GO
ALTER TABLE [dbo].[PracticeSession]  WITH CHECK ADD  CONSTRAINT [FK_Session_Venue] FOREIGN KEY([VenueID])
REFERENCES [dbo].[Venue] ([VenueID])
GO
ALTER TABLE [dbo].[PracticeSession] CHECK CONSTRAINT [FK_Session_Venue]
GO
ALTER TABLE [dbo].[Reminder]  WITH CHECK ADD  CONSTRAINT [FK_Reminder_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Reminder] CHECK CONSTRAINT [FK_Reminder_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Semester] FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semester] ([SemesterID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Semester]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Coach] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coach] ([CoachID])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Coach]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Department]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Sport] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sport] ([SportID])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Sport]
GO
ALTER TABLE [dbo].[TeamPlayer]  WITH CHECK ADD  CONSTRAINT [FK_TeamPlayer_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[TeamPlayer] CHECK CONSTRAINT [FK_TeamPlayer_Student]
GO
ALTER TABLE [dbo].[TeamPlayer]  WITH CHECK ADD  CONSTRAINT [FK_TeamPlayer_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[TeamPlayer] CHECK CONSTRAINT [FK_TeamPlayer_Team]
GO
ALTER TABLE [dbo].[Tournament]  WITH CHECK ADD  CONSTRAINT [FK_Tournament_Semester] FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semester] ([SemesterID])
GO
ALTER TABLE [dbo].[Tournament] CHECK CONSTRAINT [FK_Tournament_Semester]
GO
ALTER TABLE [dbo].[Tournament]  WITH CHECK ADD  CONSTRAINT [FK_Tournament_Sport] FOREIGN KEY([SportID])
REFERENCES [dbo].[Sport] ([SportID])
GO
ALTER TABLE [dbo].[Tournament] CHECK CONSTRAINT [FK_Tournament_Sport]
GO
ALTER TABLE [dbo].[TournamentTeam]  WITH CHECK ADD  CONSTRAINT [FK_TournTeam_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[TournamentTeam] CHECK CONSTRAINT [FK_TournTeam_Team]
GO
ALTER TABLE [dbo].[TournamentTeam]  WITH CHECK ADD  CONSTRAINT [FK_TournTeam_Tournament] FOREIGN KEY([TournamentID])
REFERENCES [dbo].[Tournament] ([TournamentID])
GO
ALTER TABLE [dbo].[TournamentTeam] CHECK CONSTRAINT [FK_TournTeam_Tournament]
GO
ALTER TABLE [dbo].[Coach]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD CHECK  (([Condition]='Poor' OR [Condition]='Fair' OR [Condition]='Good' OR [Condition]='New'))
GO
ALTER TABLE [dbo].[EquipmentIssue]  WITH CHECK ADD  CONSTRAINT [CHK_ReturnDate] CHECK  (([ReturnDate] IS NULL OR [ReturnDate]>=[IssueDate]))
GO
ALTER TABLE [dbo].[EquipmentIssue] CHECK CONSTRAINT [CHK_ReturnDate]
GO
ALTER TABLE [dbo].[Expense]  WITH CHECK ADD CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Expense]  WITH CHECK ADD CHECK  (([Category]='Other' OR [Category]='Venue' OR [Category]='Prize' OR [Category]='Equipment' OR [Category]='Food' OR [Category]='Transport'))
GO
ALTER TABLE [dbo].[InjuryRecord]  WITH CHECK ADD CHECK  (([Severity]='Severe' OR [Severity]='Moderate' OR [Severity]='Minor'))
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [CHK_Match_Teams] CHECK  (([HomeTeamID]<>[AwayTeamID]))
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [CHK_Match_Teams]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD CHECK  (([Status]='Postponed' OR [Status]='Completed' OR [Status]='Ongoing' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[PlayerRating]  WITH CHECK ADD CHECK  (([Rating]>=(1.0) AND [Rating]<=(10.0)))
GO
ALTER TABLE [dbo].[PracticeAttendance]  WITH CHECK ADD CHECK  (([Status]='Late' OR [Status]='Absent' OR [Status]='Present'))
GO
ALTER TABLE [dbo].[PracticeSession]  WITH CHECK ADD  CONSTRAINT [CHK_Session_Time] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [dbo].[PracticeSession] CHECK CONSTRAINT [CHK_Session_Time]
GO
ALTER TABLE [dbo].[Reminder]  WITH CHECK ADD CHECK  (([ReminderType]='General' OR [ReminderType]='Tournament' OR [ReminderType]='Practice' OR [ReminderType]='Match'))
GO
ALTER TABLE [dbo].[Sport]  WITH CHECK ADD CHECK  (([SportType]='Team' OR [SportType]='Individual'))
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD CHECK  (([Gender]='Mixed' OR [Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Tournament]  WITH CHECK ADD  CONSTRAINT [CHK_Tournament_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[Tournament] CHECK CONSTRAINT [CHK_Tournament_Dates]
GO
ALTER TABLE [dbo].[Tournament]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Ongoing' OR [Status]='Upcoming'))
GO
ALTER TABLE [dbo].[Venue]  WITH CHECK ADD CHECK  (([VenueType]='Outdoor' OR [VenueType]='Indoor'))
GO
